code/test/test.ino
*.hex

#Logi programów
*.log

#Tymczasowe pliki
*.tmp

#Pliki gotowe do otwarcia (mogą być nieaktualne)
*.dvi
#*.pdf
#Musimy pokazac panu pdf, wiec pdf'y moga byc. Aby ponownie wylaczyc pdf'y usun # przed *.pdf

#Plik stanu programu TeXnicCenter (lokalizacja kursora)
*.tps
*.ps